{% extends "base.html" %} 
{% load static %} {% block title %}
<title>Review Cake Posts</title>
{% endblock %}


{% block content %}


  <!--Main display for list of products -->

<div class="overlay"></div>
<div class="container-fluid pt-5  justify-content-center text-center">
  <div class="spacer py-5 m-0"></div>

        <div class="row text-center">
          <div class="col"> 
            <h2 class="logo-font mb-4">Review Cake Posts</h2>
          

            <a href="{% url 'management' %}" class="btn btn-outline-black rounded-0 btn-lg">
              <i class="fas fa-chevron-left"> </i>
              <span class="text-uppercase">Back to Store Management</span></a>
            </div>
      </div>

        <div class="row justify-content-around ">
          <div class="row pb-3 justify-content-around">
            {% if to_approve %}
            {% for cake in cake_review %}
            <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 m-1 my-border text-center">
               
                <div class="card border-0">
                    <img class="img-fluid" src="{{ cake.cake_image.url }}"  alt="{{ cake.title }}">
                        <div class="card-body cream-bg">
                            <h5 class="card-title">{{ cake.title }}</h5>
                            <p class="card-text">{{ cake.date_created }}</p>
                            <p class="card-text">{{ cake.description }}</p>
                            
                            <p>
                              <a href="{% url 'cake_approve' cake.pk %}" class="btn btn-primary buttons-all p-2">Approve</a>
                              <a href="{% url 'cake_delete' cake.pk %}" class="btn btn-primary buttons-all p-2">Delete</a>
                            </p>
                        </div>
                </div>
            </div> 
            {% endfor %}
            {% endif %}
          
           
        </div>  
       </div>
</div> 

       {% endblock %}