{% extends "base.html" %} 
{% load static %} {% block title %}
<title>Cake Detail</title>
{% endblock %}
{% block page-header %}
  <div class="container header-container">
    <div class="row">
      <div class="col"></div>
    </div>
  </div>
  {% endblock %}


{% block content %}


  <!--Main display for list of products -->

  <div class="overlay"></div>
<div class="container-fluid pt-5  justify-content-center">
    <div class="spacer py-5 m-0"></div>
        <div class="row justify-content-around ">


           
                    <div class="col-md-6 masthead-text">
                        <!--Author and title-->
                        <h1 class="post-title">{{ post.title }}</h1>
                        
                        <p class="post-subtitle">{{ post.full_name }} | {{ post.date_created }}</p>
                    </div>
                    <div class="d-md-block col-md-6 masthead-image">
                        <!--hides if no image selected and displays if there is-->
                       
                            <img class="card-img-top img-fluid" src=" {{ post.cake_image.url }} " alt="{{ post.blog_title}}" width="100"> 
                       
                    </div>
                </div>
</div>
        
        
<div class="container">
    <div class="row cream-bg">
        <div class="col card mb-4  mt-3 left cream-bg">
            <div class="card-body cream-bg">
                
                <p class="card-text ">
                    {{ post.description | safe }}
                </p>
                <!--hides if no image selected and displays if there is-->
                
                <div class="row cream-bg">

                    <div class="col-1">
                        <!-- Code to like a post -->
                        
                            {% if user.is_authenticated %}
                            <form class="d-inline" action="{% url 'favourite' post.slug %}" method="POST">
                                {% csrf_token %}
                                {% if favourite %}

                                <button type="submit" name="cakepost_id" value="{{post.slug}}" class="btn-like border-0">
                                    <i class="fa-solid fa-star"></i>
                                </button>

                                {% else %}

                                <button type="submit" name="cakepost_id" value="{{post.slug}}" class="btn-like">
                                    
                                    <i class="fa-regular fa-star"></i>
                                </button>

                                {% endif %}
                            </form>
                            {% else %}

                            <span class="text-secondary"><i class="fa-regular fa-star"></i></span>
                            {% endif %}
                            <span class="text-secondary">{{ post.number_of_favourties }}</span>


                        
                        <strong class="text-secondary"> {{ post.number_of_favourites }} </strong>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    <div class="row cream-bg">
        <div class="col cream-bg">
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 card mb-4  mt-3 cream-bg ">
            <h3>Comments:</h3>
            <div class="card-body">
                <!--iterate through comments to display them -->
                {% for comment in comments %}
                <div class="comments" style="padding: 10px;">
                    
                    <p class=" text-muted font-weight-normal mb-0 fw-bold">
                    <small>{{ comment.comment_created }}</small>
                    <p class="fw-bold">{{ comment.name }}  wrote:</p>
                    
                    <!-- The body of the comment goes before the | -->
                    {{ comment.comment_body | linebreaks }}
                    <hr>
                </div>
                <!-- Our for loop ends here -->
                {% endfor %}
            </div>
        </div>
        <div class="col-md-4 card mb-4  mt-3 cream-bg">
            <div class="card-body">
                {% if commented %}
                <div class="alert alert-success" role="alert">
                    Your comment is awaiting approval
                </div>
                {% else %}

                {% if user.is_authenticated %}

                <h3>Leave a Comment:</h3>
                <p>Posting as: {{ user.username }}</p>
                <form method="POST" style="margin-top: 1.3em;">
                    {{ comment_form | crispy }}
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary buttons-all p-2 text-reset">Submit</button>
                </form>
                
                    <p>You must be logged in to leave comments </p>
                    <a href="{% url 'account_login' %}" class="buttons-all p-2">Login</a>
                {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
</div>

    
       
{% endblock %}
