{% extends "base.html" %} 
{% load static %} {% block title %}
<title>Review Cake Posts</title>
{% endblock %}


{% block content %}


  <!--Main display for list of products -->

  <div class="overlay"></div>
<div class="container-fluid pt-5  justify-content-center">
  <div class="spacer py-5 m-0"></div>
        <div class="row justify-content-around ">

            <h1>Review Cake Posts</h1>

            <a href="{% url 'management' %}" class="btn btn-outline-black rounded-0 btn-lg">
              <i class="fas fa-chevron-left"> </i>
              <span class="text-uppercase">Back to Store Management</span></a>
            {% if to_approve %}
            {% for cake in cake_review %}
                <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
                    <div class="card m-3  border-0" style="width: auto;">
                        <img class="img-fluid" src="{{ cake.cake_image.url }}"  alt="{{ cake.title }}">
                            <div class="card-body">
                                <!-- <a href="{% url 'cake_detail' cake.slug %}" class="btn btn-primary grey-bg border border-dark rounded text-dark p-2">Approve</a> -->
                                <h5 class="card-title">{{ cake.title }}</h5>
                                <p class="card-text">{{ cake.date_created }}</p>
                                
                               
                                <p>
                                    <a href="{% url 'cake_approve' cake.pk %}" class="btn btn-primary grey-bg border border-dark rounded text-dark p-2">Approve</a>
                                    <a href="{% url 'cake_delete' cake.pk %}" class="btn btn-primary grey-bg border border-dark rounded text-dark p-2">Delete</a>
                                  </p>
                            
                            </div>
                    </div>
              </div>
              {% endfor %}
              {% else %}
                <h2> Nothing to see here</h2>
        </div>
        {% endif %}
</div>
       
{% endblock %}
