{% extends "base.html" %} {% load static %} {% block title %}
<title>Delete Comment</title>
{% endblock %}

{% block content %}

<!--Form to delete comment -->
<div class="overlay"></div>
<div class="container-fluid pt-5  justify-content-center">
    <div class="spacer py-5 m-0"></div>
        <form method="post" class="text-center mb-2">
            {% csrf_token %}
            <p> Are you sure that you would like to <strong>delete</strong> this comment? </p>
            <input class="rounded p-1 fw-bold border-1 buttons-all" type="submit" value="Yes">
        </form>    

        <form class="text-center" method="GET" action="{% url 'review_comments' %}">
            <input class="rounded p-1 fw-bold border-1 buttons-all" type="submit" value="Go Back">
        </form>

        
</div>

    
{% endblock %}
