{% extends "base.html" %} {% load static %} {% block title %}
<title>Review Comments</title>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container-fluid pt-5  justify-content-center">
  <h1 class="fs-5 fw-bold"> Review Comments</h1>
  <a href="{% url 'management' %}" class="btn btn-outline-black rounded-0 btn-lg">
    <i class="fas fa-chevron-left"> </i>
    <span class="text-uppercase">Back to Store Management</span></a>
    {% for comment in comments %}

<h4>Message from: {{ comment.name }}</h4>
<p> Post:{{ comment.post.title | linebreaks }}
<p>{{ comment.comment_body | linebreaks }}</p>

                <a href="{% url 'approve_comment' comment.pk %}" class="btn btn-primary grey-bg border border-dark rounded text-dark p-2">Approve Comment</a>
                <a href="{% url 'delete_comment' comment.pk %}" class="btn btn-primary grey-bg border border-dark rounded text-dark p-2">Delete Comment</a>
              </p>
       
         
    {% endfor %}
</div>
    
{% endblock %}
