{% extends "base.html" %} 
{% load static %} 

{% block page-header %}
  <div class="container header-container">
    <div class="row">
      <div class="col"></div>
    </div>
  </div>
  {% endblock %}
{% block title %}
<title>McRocks Home</title>
{% endblock %}

{% block content %}


  <div class="container index-container d-flex flex-column align-items-center w-100 wrapper">
    <div class="spacer py-5 m-0"></div>
<div class="spacer py-5 m-0"></div>
      
      <div class="row h-50 align-items-center text-center">
        <div class="col shop-container-col">
          <a class=" p-2 rounded-0 text-uppercase" href="{% url 'products' %}"> <img src="https://res.cloudinary.com/rockymiss/image/upload/v1676237518/mcgraths/Click_to_Shop1_z3eiyk.png" class="img-fluid img-thumbnail shop-image" alt="Responsive image">
            <div class="overlay-shop">
              <div class="text">Click to Shop</div>
            </div>
            </a>
       
        </div>
      </div>
  </div>  

{% endblock %}