{% extends "includes/base.html" %} 
{% load static %} 

{% block page-header %}
  <div class="container header-container">
    <div class="row">
      <div class="col"></div>
    </div>
  </div>
  {% endblock %}
{% block title %}
<title>McRocks Home</title>
{% endblock %}

{% block content %}

    <div class="container h-100 bg-none ">
      <div class="row bg-none h-100">
        <div class="col-12 col-md-6 my-auto bg-none">
          <h1 class="display-4 bg-none">Shop for Cake Supplies</h1>
        </div>
        <div class="my-5">
          <h5>
            <a class="shop-now p-2 rounded-0 text-uppercase" href="{% url 'products' %}">Start Shopping</a>
          </h5>
        </div>

      </div>
       
      <!-- <img src="https://res.cloudinary.com/rockymiss/image/upload/v1669838316/mcgraths/cupcake-3723832_1920_upijsh_bzs51e.jpg" alt="Donuts" class="img-fluid"> -->
    
        
    </div>
            
           
       
    </div>
{% endblock %}