{% extends "base.html" %} {% load static %} {% block title %}
<title>McRocks</title>
{% endblock %}

{% block content %}

    <div class="index-container d-flex">
       
      <img src="https://res.cloudinary.com/rockymiss/image/upload/v1669838316/mcgraths/cupcake-3723832_1920_upijsh_bzs51e.jpg" alt="Donuts" class="img-fluid">
      <div>
        <a class="shop-now p-2 pink-bg rounded text-uppercase fw-bold" href="{% url 'products' %}">Start Shopping</a>
    </div>
            
           
       
    </div>
{% endblock %}