{% extends "includes/base.html" %}{% load static %} 
{% load bag_tools %}
{% block title %}
<title>McRocks Shopping Cart</title>
{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block page_header %}
    <!-- <div class="row">
        
        <div class="col">
            HEADER
        </div>
    </div>
</div> -->
{% endblock %}

{% block content%}


<!--Cart -->
<section class="h-100">
    
    <div class="container h-100 py-5">
    
      <div class="row d-flex justify-content-center align-items-center h-100"> 
    
        <div class="col-10">
  
          <div class="d-flex justify-content-between align-items-center mb-4">
            <h3 class="fw-normal mb-0 text-black">Checkout</h3>
            <div>
                <p class="mb-0"><a href="{% url 'products' %}" class="btn btn-outline-black rounded-0 btn-lg"><span class="icon">
                    <i class="fas fa-chevron-left"></i>
                </span>
                <span class="text-uppercase">Keep Shopping</span></a></p>
              </div>
           
          </div>
  

 
  
    <p class="text-center">Nothing to buy here</p>
    
  </section>

<!--End Cart-->

{% endblock %}

{% block postloadjs %}
{{  block.super }}
{% include 'products/includes/quantity_input_script.html' %}

<script type="text/javascript">
  //update quantity when clicking 
  $('.update-link').click(function(e) {
        var form = $(this).prev('.update-form');
        form.submit();
    })

    // Remove item and reload on click
    $('.remove-item').click(function(e) {
        var csrfToken = "{{ csrf_token }}";
        var itemId = $(this).attr('id').split('remove_')[1];
        var colour = $(this).data('product_colour');
        var url = `/cart/remove/${itemId}/`;
        var data = {'csrfmiddlewaretoken': csrfToken, 'product_colour': colour};

        $.post(url, data)
         .done(function() {
             location.reload();
         });
    })
</script>
{% endblock %}
