{% extends "base.html" %} {% load static %} {% block title %}
<title>Discounts</title>
{% endblock %}
{% load crispy_forms_tags %}

{% block content %}
<div class="overlay"></div>
<div class="container-fluid pt-5  justify-content-center">
  <div class="spacer py-5 m-0"></div>
        <div class="row justify-content-around ">
      <!--Form to send a message -->
        <h1>Add a New Discount</h1>
        <a href="{% url 'management' %}" class="btn btn-outline-black rounded-0 btn-lg">
          <i class="fas fa-chevron-left"> </i>
          <span class="text-uppercase">Back to Store Management</span></a>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form|crispy }}
            <input class="rounded p-1 fw-bold border-1" type="submit" value="Submit">
        </form>
</div>
  </div>  
{% endblock %}




