{% extends "base.html" %} {% load static %} {% block title %}
<title>~Delete Discount</title>
{% endblock %}
{% block content %}

<div class="overlay"></div>
<div class="container-fluid pt-5  justify-content-center">
        

    <form method="post" class="text-center mb-2">
        {% csrf_token %}
        <p> Are you sure that you would like to <strong>delete</strong> this code? </p>
        <input class="rounded p-1 fw-bold border-1" type="submit" value="Yes">
    </form>    

    <form class="text-center" method="GET" action="{% url 'discount_page' %}">
        <input class="rounded p-1 fw-bold border-1" type="submit" value="Go Back">
      </form>
            
</div>
    
{% endblock %}