{% extends "base.html" %} 
{% load static %} {% block title %}
<title>All Discounts</title>
{% endblock %}


{% block content %}


  <!--Main display for list of products -->

<div class="overlay"></div>
<div class="container-fluid pt-5  justify-content-center">


            
           
                
                  <h1>Add a New Discount Code</h1>
                  <a href="{% url 'management' %}" class="btn btn-outline-black rounded-0 btn-lg">
                    <i class="fas fa-chevron-left"> </i>
                    <span class="text-uppercase">Back to Store Management</span></a>
                  <p><a href="{% url 'create_discount' %}" class="btn btn-primary grey-bg border border-dark rounded text-dark p-2">Add</a></p>
                  <hr>
                  
                  {% if review_discounts %}
                  <h1>Discounts Created</h1>
                  {% for discount in review_discounts %}

                  <p>Discount Code: {{ discount.discount_code }}</p>
                  <P>Percentage: {{ discount.discount_percentage }}</P>

                 
                    <a href="{% url 'delete_discount' discount.pk %}" class="btn btn-primary grey-bg border border-dark rounded text-dark p-2">Delete</a>
                  
                   
              {% endfor %}
              {% else %}

                <h2> You don't have any discounts created</h2>
                <p>Click Add above to add a new discount code</p>
        </div>
      
        {% endif %}
       
       </div>
{% endblock %}
