
/* Main */

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
  --blue: #00B1FB; 
  --pink: #FFBEBD;
  --tpink: #FFBEBDAD;
  --lightPink: #FFE9EA;
  --cream: #FBF4E4;
  --brown: #551E00;
}

.pink-border {
  border-color: var(--pink) !important;
}

.pink-bg {
  background-color: var(--pink) !important;
}

.cream-bg {
  background-color: var(--cream) !important;
}

.blue-bg {
  background-color: var(--blue) !important;
}

.lightpink-bg {
  background-color: var(--lightPink);
}

.tpink-bg {
  background-color: var(--tpink) !important;
}

.bg-none {
  background-color: transparent !important;
}

.brown-bg {
  background-color: var(--brown) !important;
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: var(--brown) !important;
    
}

body {
  min-height: 100vh; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: url(https://res.cloudinary.com/rockymiss/image/upload/v1669838316/mcgraths/cupcake-3723832_1920_upijsh_bzs51e.jpg) no-repeat fixed;
  background-size: cover;
  background-color: var(--cream);
}

.overlay {
  height: 100%;
  width: 100%;
  top: 2em;
  left: 0;
  position: fixed;
  background: var(--cream) !important;
  z-index: -1;
}

.remove-item
.update-link {
  cursor: pointer;
}

.navbar .navbar-nav .nav-item .active {
    color: #00B1FB;
}

.menu-headings {
  font-size: smaller !important;
  text-align: end;
}

a.fas {
    position: relative;
    font-size: 20px;
    text-decoration: none;
    color: black;
}

.num {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: -8px;
    left: 18px;
    width: 15px;
    height: 15px;
    font-size: 8px;
    background-color: #00B1FB;
    color: white;
}


.col-lg-3 .btn.btn-primary {
    width: 100%;
    height: 43px;
    box-shadow: none;
    outline: none;
    background-color: #00B1FB;
    color: white;
    font-weight: 800;
    padding: 0px 15px;
    line-height: 22px;
    border: none;
}

.col-lg-3 .btn.btn-primary:focus {
    outline: none;
    box-shadow: none;
}

/* .col-lg-3 .btn.btn-primary:hover {
    background-color: #aadf5a; */

/* } */


input {
    width: 230px;
    border: none;
    outline: none;
}

p {
    margin: 0%;
}

/* Shop now image overlay from W3Schools*/

.shop-image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay-shop {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: auto;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: var(--lightPink);
}

.shop-container-col:hover .overlay-shop {
  opacity: 1;
  z-index: 1000;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

/* Shop now image end */

.clear {
  clear: both;
  height: 210px;
}

@media(max-width:1022px) {
    input {
        width: 100%;
        border: none;
    }

}

/* Index */
.index-container {
  background-color: transparent !important;
  height:450px;
  
}

/* .wrapper-content {
  flex-grow: 1;
} */

/* Product Detail */

.products-container {
  min-height: 550px;
}



.product_price {
  display: inline-block;
  font-size: 2rem;
  margin-top: 9px;
  clear: left
}

.singleline {
  margin-top: 1rem;
  margin-bottom: .40rem;
  border: 0;
  border-top: 1px solid var(--brown)
}

.product_description {
  padding-left: 0px
}


.order_info {
  margin-top: 18px;
}


button.btn.shop-button {
  height: 47px;
  border-color: var(--brown);
}

.br-dashed {
  border-radius: 5px;
  border: 1px dashed var(--brown);
  margin-top: 6px;
}

.shipping {
  color: var(--brown);
}

.image_main {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: calc(100% + 15px);
  height: 525px;
  -webkit-transform: translateX(-15px);
  -moz-transform: translateX(-15px);
  -ms-transform: translateX(-15px);
  -o-transform: translateX(-15px);
  transform: translateX(-15px);
  border: solid 1px #e8e8e8;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  padding: 15px
}

.increment {
  width: auto !important; 
}

@media (max-width: 390px) {
  .product_fav {
      display: none
  }
}


.order_info {
  margin-top: 16px
}



/* 
.quantity_buttons {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 29px;
  border-left: solid 1px #e5e5e5
}

.quantity_inc,
.quantity_dec {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 50%;
  cursor: pointer
}

.quantity_control i {
  font-size: 11px;
  color: rgba(0, 0, 0, 0.3);
  pointer-events: none
}

.quantity_control:active {
  border: solid 1px rgba(14, 140, 228, 0.2)
}

.quantity_inc {
  padding-bottom: 2px;
  justify-content: flex-end;
  border-top-right-radius: 5px
}

.quantity_dec {
  padding-top: 2px;
  justify-content: flex-start;
  border-bottom-right-radius: 5px
} */

/* messages */

.message-container {
  position: fixed;
  top: 72px;
  right: 15px;
  z-index: 999999900000;
}

.custom-toast {
  overflow: visible;
}

.toast-capper {
  height: 2px;
}

footer {
  margin-top: auto;
}

/* .wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
} */


/* Product Form*/

.btn-file {
  position: relative;
  overflow: hidden;
}

.btn-file input[type="file"]{
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  opacity: 0;
  cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
  border-radius: 0;
  border-color: red;
}

.custom-checkbox .custom-control-input::checked~.custom-control-label::before {
  background-color: red;
  border-color: red;
  border-radius: 0;

}

/*Shop Managment*/
  /*List Group*/
.list-group-item .btn-elegant i {
  margin-right: 10px;
}

/* .list-group {
  width: 70%;
} */

/* Headings */


.shop-headings {
  font-size: 1.5em;
}


@media (min-width: 768px) {
  .shop-headings {
    font-size: 2rem;
  }
}

.go-small {
  font-size: 0.8rem;
}


@media (min-width: 768px) {
  .go-small {
    font-size: 1rem;
  }
}

/*icon padding on nav*/

.icon-pad {
  padding: 10px !important;
}

.icon-pad:hover {
  text-decoration: none !important;
}

/*buttons and links*/

.buttons-all {
  background-color: var(--tpink) !important;
  padding: 1em 1.5em;
  text-decoration: none !important;
  color: var(--brown) !important;
  border: none !important;
  font-size: smaller;
}

button.btn.btn-primary.buttons-all.dropdown-toggle {
  border: none;
}






/*border on products*/

.my-border {
  border: solid;
  border-color: var(--lightPink);
}

/*Mail Chimp*/

#mc_embed_signup .helper_text {
	background-color: transparent !important;
}

#mc_embed_signup form {
	margin: 0px !important;
}

#mc-embedded-subscribe {
	margin: 0px !important;
}

#mc_embed_signup #mc-embedded-subscribe-form div.mce_inline_error {
	background-color: transparent !important;
}

#mc_embed_signup .foot {
	grid-template-columns: max-content !important;
}

#mce-responses {
  display: none !important;
}

/*contact info list */

.contact-list {
  font-size: smaller !important;
}

/*mailchimp*/

div#mc_embed_signup_scroll {
  border-left: solid 1px;
  border-color: var(--brown);
  padding-left: 20px;
  padding-bottom: 20px;
}

/*product detail*/

input.form-control.qty_input.id_qty_12 {
padding-right: 0;
}



/* New navbar */

.container {
  max-width: 960px;
}
.navbar-search {
  background-color: var(--lightPink);
}

button.navbar-toggler {
  background-color: var(--tpink);
}

.navbar-search .navbar-brand img {
  vertical-align: baseline;
}


.search-box {
  position: relative;
  height: 34px;
}
.search-box input {
  border: 0;
  border-radius: 3px !important;
  padding-right: 28px;
  font-size: 15px;
}

.search-box .input-group-btn {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 999;
}

.search-box .input-group-btn button {
  background-color: transparent;
  border: 0;
  padding: 4px 8px;
  font-size: 20px;
}

.search-box .input-group-btn button:hover,
.search-box .input-group-btn button:active,
.search-box .input-group-btn button:focus {
  color: rgba(0,0,0,.4) !important;
}

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: .7rem;
    padding-left: .7rem;
  }
  
  .search-box {
    width: 300px !important;
  }
}




/* Mailchimp */

#mce-responses {
  display: none;
}