@import url('https://fonts.googleapis.com/css2?family=Sarabun&display=swap');

/* Colour Palette */

:root {
   --blue: #00B1FB; 
   --pink: #FFBEBD;
   --lightPink: #FFE9EA;
   --cream: #FBF4E4;
   --brown: #551E00;
}

.pink-bg {
  background-color: var(--pink) !important;
}

.cream-bg {
  background-color: var(--cream) !important;
}

.lightpink-bg {
  background-color: var(--lightPink);
}

/* Main */

* {
  font-family: 'Sarabun', sans-serif;
  background-color: var(--pink) !important;
  color: var(--brown);
  font-size: 1rem;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.text-col-brown {
  color: var(--brown);
}

body {

  background-color: var(--blue);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

footer {
  position:fixed;
  bottom:0;
  width:100%;
  
}



