
/* Main */


/* .text-col-brown {
  color: var(--brown);
} */



/*index page */

/* .index-container {
  position: relative;
  text-align: center;
  
} */





@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
  --blue: #00B1FB; 
  --pink: #FFBEBD;
  --lightPink: #FFE9EA;
  --cream: #FBF4E4;
  --brown: #551E00;
}

.pink-border {
  border-color: var(--pink) !important;
}

.pink-bg {
  background-color: var(--pink) !important;
}

.cream-bg {
  background-color: var(--cream) !important;
}

.blue-bg {
  background-color: var(--blue) !important;
}

.lightpink-bg {
  background-color: var(--lightPink);
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: var(--brown) !important;
    background-color: var(--cream) !important;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.navbar .navbar-nav .nav-item .active {
    color: #00B1FB;
}

a.fas {
    position: relative;
    font-size: 20px;
    text-decoration: none;
    color: black;
}

.num {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: -8px;
    left: 18px;
    width: 15px;
    height: 15px;
    font-size: 8px;
    background-color: #00B1FB;
    color: white;
}


.col-lg-3 .btn.btn-primary {
    width: 100%;
    height: 43px;
    box-shadow: none;
    outline: none;
    background-color: #00B1FB;
    color: white;
    font-weight: 800;
    padding: 0px 15px;
    line-height: 22px;
    border: none;
}

.col-lg-3 .btn.btn-primary:focus {
    outline: none;
    box-shadow: none;
}

/* .col-lg-3 .btn.btn-primary:hover {
    background-color: #aadf5a; */

} */

.col-lg-3 ul {
    width: 100%;
}

.col-lg-9 .btn.btn-secondary {
    width: 100%;
    height: 100% !important;
    box-shadow: none;
    outline: none;
    background-color: transparent;
    color: black;
    font-weight: 800;
    padding: 0px 15px;
    line-height: 22px;
    border: none;
}


.col-lg-9 .btn.btn-primary {
    background-color: #67971f;
    border: none;
    height: 100%;
    width: 100px;
}

.col-lg-9 .btn.btn-primary:hover {
    background-color: #aadf5a;
}

.col-lg-9 ul {
    width: 100%;
}

.fas.fa-phone {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #00B1FB;
}

.p-green {
    letter-spacing: 2px;
    color: #67971f;
    font-size: 14px;
}

input {
    width: 230px;
    border: none;
    outline: none;
}

p {
    margin: 0%;
}


.btn.btn-success {
    color: white;
    background-color: #67971f;
    outline: none;
    border: none;
}

.btn.btn-success:hover {
    background-color: #aadf5a;
}

/* PRoducts */

.shop-now {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-decoration: none;
  color: var(--brown);
  border-width: 1em;
  border: solid;
}

footer {
  position:fixed;
  bottom: 0;
  width:100%;
  height: 210px;
}

.clear {
  clear: both;
  height: 210px;
}

@media(max-width:1022px) {
    input {
        width: 100%;
        border: none;
    }

}

/* Product Detail */

.breadcrumb-item+.breadcrumb-item::before {
  content: ">"
}

.breadcrumb {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: .1rem 0rem !important;
  margin-bottom: 0rem;
  list-style: none;
  background-color: #ffffff;
  border-radius: .25rem
}

.single_product {
  padding-top: 66px;
  padding-bottom: 140px;
  background-color: #e5e5e5;
  margin-top: 0px;
  padding: 17px
}

.product_name {
  font-size: 1.8rem;
  margin-top: 0px
}

.product_price {
  display: inline-block;
  font-size: 2rem;
  margin-top: 9px;
  clear: left
}

.singleline {
  margin-top: 1rem;
  margin-bottom: .40rem;
  border: 0;
  border-top: 1px solid var(--brown)
}

.product_description {
  padding-left: 0px
}

.product_quantity {
  width: 104px;
  height: 47px;
  border: solid 1px #e5e5e5;
  border-radius: 3px;
  overflow: hidden;
  padding-left: 8px;
  padding-top: -4px;
  padding-bottom: 44px;
  float: left;
  margin-right: 22px;
  margin-bottom: 11px
}

.order_info {
  margin-top: 18px;
}


button.btn.shop-button {
  height: 47px;
  border-color: var(--brown);
}

.br-dashed {
  border-radius: 5px;
  border: 1px dashed var(--brown);
  margin-top: 6px;
}

.shipping {
  color: var(--brown);
}

.image_main {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: calc(100% + 15px);
  height: 525px;
  -webkit-transform: translateX(-15px);
  -moz-transform: translateX(-15px);
  -ms-transform: translateX(-15px);
  -o-transform: translateX(-15px);
  transform: translateX(-15px);
  border: solid 1px #e8e8e8;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  padding: 15px
}

@media (max-width: 390px) {
  .product_fav {
      display: none
  }
}

.product_quantity {
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box
} 

.single_product {
  padding-top: 16px;
  padding-bottom: 140px
}

.image_main {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: calc(100% + 15px);
  height: 525px;
  -webkit-transform: translateX(-15px);
  -moz-transform: translateX(-15px);
  -ms-transform: translateX(-15px);
  -o-transform: translateX(-15px);
  transform: translateX(-15px);
  border: solid 1px #e8e8e8;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  padding: 15px
}

.image_main img {
  max-width: 100%
}

.product_text p:last-child {
  margin-bottom: 0px
}

.order_info {
  margin-top: 16px
}

.product_quantity {
  width: 182px;
  height: 50px;
  border: solid 1px #e5e5e5;
  border-radius: 5px;
  overflow: hidden;
  padding-left: 25px;
  float: left;
  margin-right: 30px
}

.product_quantity span {
  display: block;
  height: 50px;
  font-size: 16px;
  line-height: 50px;
  float: left
}

.product_quantity input {
  display: block;
  width: 30px;
  height: 50px;
  border: none;
  outline: none;
  font-size: 16px;
  text-align: left;
  padding-left: 9px;
  line-height: 50px;
  
}

.quantity_buttons {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 29px;
  border-left: solid 1px #e5e5e5
}

.quantity_inc,
.quantity_dec {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 50%;
  cursor: pointer
}

.quantity_control i {
  font-size: 11px;
  color: rgba(0, 0, 0, 0.3);
  pointer-events: none
}

.quantity_control:active {
  border: solid 1px rgba(14, 140, 228, 0.2)
}

.quantity_inc {
  padding-bottom: 2px;
  justify-content: flex-end;
  border-top-right-radius: 5px
}

.quantity_dec {
  padding-top: 2px;
  justify-content: flex-start;
  border-bottom-right-radius: 5px
}
