{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Cake making supplies shop with blog">
    <meta name="keywords" content="Simple cake design, Decorating cake ideas, Cake design ideas, Cake toppers ireland, personalised cake toppers, birthday cake design, wedding cake design">
{% block title %}{% endblock %}

 <!--stylesheet link-->
 <link rel="stylesheet" href="{% static 'css/style.css' %}" />   
 
  </head>

  <body>
   
    <header>

      Header here
    </header>

    <!--Content-->
    {% block content%}
    <!--content-->
    {% endblock %}

    <!--Footer Section-->
    <footer>

      Footer here
    </footer>
  </body>
</html>
