{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Cake making supplies shop with blog">
    <meta name="keywords" content="Simple cake design, Decorating cake ideas, Cake design ideas, Cake toppers ireland, personalised cake toppers, birthday cake design, wedding cake design">


    <!--stylesheet link-->
    <link rel="stylesheet" href="{% static 'css/style.css' %}" /> 
    
    <!--Bootstrap css link-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" 
                rel="stylesheet" 
                integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" 
                crossorigin="anonymous">  

    <!--favicon link-->
    <link rel="icon" type="image/xicon" href="https://res.cloudinary.com/rockymiss/image/upload/v1669155071/mcgraths/mcrock-fav_ktyi6i.png">

     <!--Font Awesome Link-->
     <script src="https://kit.fontawesome.com/0037301c3f.js" crossorigin="anonymous"></script>

    


 {% block title %}{% endblock %}
  </head>

  <body>
   
    <header>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">McRocks</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Your Cakes</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Log-in</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Shop                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="#">Cake Supplies</a></li>
                  <li><a class="dropdown-item" href="#">Cake Misc</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Cake Tins</a></li>
                </ul>
              </li>
            </ul>
            <form method="GET" action="" class="d-flex">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
          </div>
        </div>
      </nav>
          
    </header>

    <!--Content-->
    {% block content%}
    <!--content-->
    {% endblock %}

   <!--Footer Section-->
<footer class="mt-auto py-3">
  <div class="d-flex align-content-end">
    <div class="row">
      
      <div class="col">
        <a href="https://www.instagram.com" target="_blank" rel="noopener" aria-label="Click here to open Instagram, which will open in a new tab">
          <i class="fa-brands fa-square-instagram fa-2xl"></i></a>
      </div>
      <div class="col">
        <a href="https://www.facebook.com" target="_blank" rel="noopener" aria-label="Click here to open Twitter, which will open in a new tab">
          <i class="fa-brands fa-square-facebook fa-2xl"></i></a>
      </div>
      <div class="col">
        <nav class="navbar navbar-light bg-light">
          <div class="container-fluid">
            <form class="d-flex">
              <input class="form-control me-2" type="email" placeholder="Sign-up to Newsletter" aria-label="Sign-up to Newsletter">
              <button class="btn btn-outline-success" type="submit">Sign-up</button>
            </form>
          </div>
        </nav>
      </div>
    </div>
  </div>
</footer>
     <!--script for bootstrap js-->
      <script 
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" 
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" 
      crossorigin="anonymous">
    </script>
  </body>
</html>
