{% load static %}

<!-- Modal Privacy-->
<div class="modal" id="privacyModal">
    <div class="modal-dialog">
      <div class="modal-content">
  
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Privacy Policy</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
  
       
        <div class="modal-body">
            <p>At McRock's Cake Supplies, we respect your privacy and are committed to protecting your personal data. This privacy policy explains how we collect, use, and disclose information about our website visitors and customers.</p>

            <p>What information do we collect?</p>
            
            <p>We may collect the following types of information:</p>
            
           <p>Personal information: We may collect your name, email address, phone number, billing and shipping address, and payment information when you place an order on our website.</p>
            
            <p>Website usage information: We may collect information about how you use our website, including the pages you visit, the time and date of your visit, and the browser and operating system you use.</p>
            
            <p>Cookies and other tracking technologies: We may use cookies, web beacons, and similar technologies to collect information about your browsing behavior on our website.</p>
            
            <p>How do we use your information?</p>
            
            <p>We may use your information for the following purposes:</p>
            
            <p>To fulfill your orders and provide customer service</p>
            
            <p>To personalize your website experience</p>
            
            <p>To improve our website and services</p>
            
            <p>To send you marketing communications and promotional offers</p>
            
            <p>To comply with legal obligations</p>
            
            <p>How do we protect your information?</p>
            
            <p>We take reasonable measures to protect your personal information from unauthorized access, use, or disclosure. We use secure servers and encryption technology to protect your data when it is transmitted over the internet.</p>
            
            <p>Do we share your information with third parties?</p>
            
           <p> We may share your information with third-party service providers that help us with website hosting, payment processing, and order fulfillment. We may also share your information with law enforcement agencies or other government authorities if required by law.</p>
            
            <p>How long do we keep your information?</p>
            
            <p>We will only retain your personal information for as long as necessary to fulfill the purposes for which it was collected, or as required by law.</p>
            
            <p>Your rights and choices</p>
            
            <p>You have the right to access, correct, or delete your personal information at any time. You may also opt-out of receiving marketing communications from us by following the instructions in the communication.</p>
            
            <p>Changes to this policy</p>
            
            <p>We may update this privacy policy from time to time. We will notify you of any changes by posting the new policy on our website.</p>
            
            <p></p>Contact us</p>
            
            <p>If you have any questions or concerns about our privacy practices, please contact us at mcrockscakesupplies@gmail.com.</p>
        </div>
  
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
  
      </div>
    </div>
  </div>
  <!--Modal End-->

  
  <!-- Modal Shipping-->
<div class="modal" id="shippingModal">
    <div class="modal-dialog">
      <div class="modal-content">
  
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Shopping Policy</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
  
       
        <div class="modal-body">
            <p>Shipping Method:</p>
            <p>We use various shipping carriers to deliver your orders. The shipping carrier for your order will be selected based on the destination, weight, and dimensions of the items in your order.</p>

            <p>Shipping Rates:</p>
            <p>We offer free standard shipping for all orders within the continental United States. For international orders and expedited shipping, additional charges may apply. The shipping rates for your order will be displayed during checkout.</p>

            <p>Delivery Time:</p>
            <p></p>Our standard shipping time is 3-5 business days for orders within the continental United States. International orders and expedited shipping may take longer. Please note that delivery times may vary based on the shipping carrier and the destination.</p>

           <p> Order Processing:</p>
           <p>We strive to process all orders within 1-2 business days. Orders placed on weekends or holidays will be processed on the next business day.</p>

            <p>Tracking Information:</p>
            <p></p>Once your order has shipped, we will provide you with a tracking number and the shipping carrier's website for you to track your package. Please note that it may take up to 24 hours for the tracking information to update on the carrier's website.</p>

            <p>Shipping Address:</p>
            <p></p>Please ensure that the shipping address provided during checkout is accurate and complete. We are not responsible for orders that are undeliverable or delayed due to an incorrect or incomplete shipping address.</p>

            <p>Shipping Restrictions:</p>
            <p>We do not ship to PO boxes or APO/FPO addresses. We reserve the right to cancel any order that violates our shipping policy or for any other reason.</p>
            
        </div>
  
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
  
      </div>
    </div>
  </div>
  <!--Modal End-->


  <!-- Modal Exchanges-->
<div class="modal" id="exchangeModal">
    <div class="modal-dialog">
      <div class="modal-content">
  
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Returns & Exchanges</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
  
       
        <div class="modal-body">
            <p>Eligibility:</p>
            <p>To be eligible for a return or exchange, the item(s) must be unused, in its original packaging, and in the same condition as when you received it. You must also have the original receipt or proof of purchase.</p>

            <p>Timeframe:</p>
            <p>You may return or exchange an item within 30 days of the purchase date. After 30 days, all sales are final.</p>

            <p>Return Process:
            <p>To initiate a return, please contact our customer service team to receive a return authorization number (RMA). Once you have the RMA, you can ship the item(s) back to us at your expense. Once we receive and inspect the item(s), we will process the refund or exchange.</p>

            <p>Refund:</p>
            <p>If you are eligible for a refund, we will process the refund to the original payment method used for the purchase. Please note that it may take up to 10 business days for the refund to be reflected in your account.</p>

            <p>Exchange:</p>
            <p>If you are eligible for an exchange, please indicate the replacement item(s) you would like when you request the RMA. Once we receive and inspect the item(s), we will ship the replacement item(s) to you at our expense.</p>

            <p>Non-eligible items:</p>
            <p>The following items are not eligible for returns or exchanges: gift cards, customized or personalized items, and items marked as final sale.</p>

            <p>Damaged or Defective Items:</p>
            <p>If you received a damaged or defective item, please contact our customer service team within 7 days of receiving the item. We will provide you with a return label and process the refund or exchange once we receive and inspect the item.</p>
            
        </div>
  
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
  
      </div>
    </div>
  </div>
  <!--Modal End-->

  
  
  
<footer class="container-fluid lightpink-bg pt-4">
    <div class="row m-auto d-flex justify-content-around">
        
        <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
            <h5 class="text-uppercase mb-4">Assistance</h5>
                <ul class="list-unstyled">
                    <li>
                        <a class="text-decoration-none text-col-brown" href="{% url 'contact' %}" >Contact us</a>
                    </li>
                    <li>
                        <a href="#privacyModal" data-toggle="modal" data-target="#privacyModal">Privacy Poicy</a>
                    </li>
                    <li>
                        <a href="#shippingModal" data-toggle="modal" data-target="#shippingModal">Shipping Poicy</a>
                    </li>
                    <li class="pb-3">
                        <a href="#exchangeModal" data-toggle="modal" data-target="#exchangeModal">Returns & Exchanges</a>
                    </li>
                    <li>
                        <a href="https://www.facebook.com/profile.php?id=100090819392754" target="_blank" rel="noopener" aria-label="Click here to open Twitter, which will open in a new tab">
                            <i class="fa-brands fa-square-facebook fa-2xl"></i>
                        </a>
                        <a href="https://www.instagram.com" target="_blank" rel="noopener" aria-label="Click here to open Instagram, which will open in a new tab">
                            <i class="fa-brands fa-square-instagram fa-2xl"></i>
                        </a>
                    </li>
                </ul>
        </div>

        
        <div id="mc_embed_signup">
          <form action="https://herokuapp.us10.list-manage.com/subscribe/post?u=daca3eb8ac4b771f085fdab64&amp;id=480bc1e2a1&amp;f_id=007ed2e5f0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
              <div id="mc_embed_signup_scroll">
              <h2>Subscribe</h2>
              <div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
      <div class="mc-field-group">
        <label for="mce-EMAIL">email address<span class="asterisk">*</span>
      </label>
        <input type="email" value="Enter your email to sign-up to our Monthly Newsletter" name="EMAIL" class="lightpink-bg required email" id="mce-EMAIL" required>
        
      </div>
        <div id="mce-responses d-none" class="clear foot">
          <div class="response" id="mce-error-response" style="display:none"></div>
          <div class="response" id="mce-success-response" style="display:none"></div>
        </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
          <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_daca3eb8ac4b771f085fdab64_480bc1e2a1" tabindex="-1" value=""></div>
              <div class="optionalParent">
                  <div class="clear foot">
                      <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
                      <p class="brandingLogo"><a href="http://eepurl.com/ilnpfz" title="Mailchimp - email marketing made easy and fun"><img src="https://eep.io/mc-cdn-images/template_images/branding_logo_text_dark_dtp.svg"></a></p>
                  </div>
              </div>
          </div>
      </form>
      </div>

       

    </div> 
</footer>



