{% load static %}

{% include "includes/modals.html" %}
  
  
<footer class="container-fluid lightpink-bg pt-4 pb-4">
    <div class="row m-auto d-flex">
        
        <div class="col-lg-2 col-md-6 mb-4 mb-lg-0 ">
            <h5 class="text-uppercase mb-4">Assistance</h5>
                <ul class="list-unstyled">
                    <li>
                        <a class="text-decoration-none text-col-brown" href="{% url 'contact' %}" >Contact us</a>
                    </li>
                    <li>
                        <a href="#privacyModal" data-toggle="modal" data-target="#privacyModal">Privacy Poicy</a>
                    </li>
                    <li>
                        <a href="#shippingModal" data-toggle="modal" data-target="#shippingModal">Shipping Poicy</a>
                    </li>
                    <li class="pb-3">
                        <a href="#exchangeModal" data-toggle="modal" data-target="#exchangeModal">Returns & Exchanges</a>
                    </li>
                    <li>
                        <a href="https://www.facebook.com/profile.php?id=100090819392754" target="_blank" rel="noopener" aria-label="Click here to open Twitter, which will open in a new tab">
                            <i class="fa-brands fa-square-facebook fa-2xl"></i>
                        </a>
                        <a href="https://instagram.com/mcrockscakesupplies?igshid=YmMyMTA2M2Y=" target="_blank" rel="noopener" aria-label="Click here to open Instagram, which will open in a new tab">
                            <i class="fa-brands fa-square-instagram fa-2xl"></i>
                        </a>
                    </li>
                </ul>
        </div>

        <div class="col-lg-10 mb-4 mb-lg-0 text-right">
        
      
        </div>

       

    </div> 
</footer>





<!-- <form action="https://herokuapp.us10.list-manage.com/subscribe/post?u=daca3eb8ac4b771f085fdab64&amp;id=480bc1e2a1&amp;f_id=007ed2e5f0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
  <div id="mc_embed_signup_scroll">
    <h5 class="text-uppercase mb-1 p-0">Sign up to our Newsletter</h5>
  
      <div class="mc-field-group pb-2">
        <label for="mce-EMAIL">email address<span class="asterisk text-muted">*</span>
      </label>
        <input type="email" value="Enter your email to sign-up to our Monthly Newsletter" name="EMAIL" class="lightpink-bg required email p-0" id="mce-EMAIL" required>
        
      </div>
<div id="mce-responses" class="clear foot">
<div class="response" id="mce-error-response" style="display:none"></div>
<div class="response" id="mce-success-response" style="display:none"></div>
</div>   
<div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_daca3eb8ac4b771f085fdab64_480bc1e2a1" tabindex="-1" value=""></div>
<input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button m-2 buttons-all">
          <a href="http://eepurl.com/ilnpfz" title="Mailchimp - email marketing made easy and fun"></a>
</div>
</form> -->
