{% load static %}
   
<footer class="container-fluid lightpink-bg">
        <div class="row m-auto d-flex justify-content-around">
            <!--Grid column-->
            <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
                <h5 class="text-uppercase mb-4">Assistance</h5>
                    <ul class="list-unstyled">
                        <li>
                            <a class="text-decoration-none text-col-brown" href="#" >Contact us</a>
                        </li>
                        <li>
                            <a class="text-decoration-none text-col-brown" href="#">Privacy Policy</a>
                        </li>
                        <li>
                            <a class="text-decoration-none text-col-brown" href="#">Shipping Information</a>
                        </li>
                        <li>
                            <a class="text-decoration-none text-col-brown" href="#">Returns & Exchanges</a>
                        </li>
                        <li>
                            <a href="https://www.facebook.com" target="_blank" rel="noopener" aria-label="Click here to open Twitter, which will open in a new tab">
                                <i class="fa-brands fa-square-facebook fa-2xl"></i>
                            </a>
                            <a href="https://www.instagram.com" target="_blank" rel="noopener" aria-label="Click here to open Instagram, which will open in a new tab">
                                <i class="fa-brands fa-square-instagram fa-2xl"></i>
                            </a>
                        </li>
                    </ul>
            </div>
<!--Grid column-->
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase mb-4">Contact</h5>

                    <ul class="list-unstyled">
                        <li>
                            <p><i class="fas fa-map-marker-alt pe-2"></i>Mullingar, Co. Westmeath, Ireland</p>
                        </li>
                        <li>
                            <p><i class="fas fa-phone pe-2"></i>+ 044 987 654 32</p>
                        </li>
                             <li>
                            <p><i class="fas fa-envelope pe-2 mb-0"></i>info@mcgraths.com</p>
                         </li>
                    </ul>
            </div>
<!--Grid column-->
            <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
                <h5 class="text-uppercase mb-4">Sign up to our newsletter</h5>
                    <div class="form-outline form-white mb-4 ">
                        <input type="email" id="form5Example2" class="form-control border border-2 cream-bg" />
                            <label class="form-label" for="form5Example2">Email address</label>
                    </div>
                <button type="submit" class="btn btn-outline-white btn-block">Subscribe</button>
            </div>

        </div> <!--Grid row-->
    <!-- </div> -->
</footer>
