{% extends "account/base.html" %}
{% load crispy_forms_tags %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}
{% block title %}
<title>Sign In</title>

{% endblock %}
{% block page-header %}
  <div class="container header-container">
    <div class="row">
      <div class="col"></div>
    </div>
  </div>
  {% endblock %}

{% block content %}
<div class="overlay"></div>
  <div class="spacer py-5 m-0"></div>
    <div class="container-fluid pt-5 text-center w-75">
              <h1>{% trans "Sign In" %}</h1>


{% blocktrans %}
<p>You must be signed in to leave a comment or create a testimonial</p>
<p>If you have not created an account yet, then please
<a href="{{ signup_url }}">sign up</a> first.  
 {% endblocktrans %}</p>


<form class="login" method="POST" action="{% url 'account_login' %}">
  {% csrf_token %}
  {{ form|crispy }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  
  <button class="p-1 rounded border buttons-all" type="submit">{% trans "Sign In" %}</button>
</form>
</div>

{% endblock %}
