{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block innercontent %}

<div class="spacer py-5 m-0"></div>

<h1>{% trans "Sign Out" %}</h1>

<p>{% trans 'Are you sure you want to sign out?' %}</p>

<form method="post" action="{% url 'account_logout' %}">
  {% csrf_token %}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
  {% endif %}

  <a class="btn button" href="{% url 'home' %}">Home</a>
  <p>
  <button type="submit">{% trans 'Sign Out' %}</button>
</p>
</form>


{% endblock %}
