{% extends "base.html" %}
{% load static %} 


{% block title %}
<title>Your Profile</title>
{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock %}

{% block page_header %}
    
{% endblock %}

<!--Cart Checkout-->
{% block content%}
<div class="spacer py-5 m-0"></div>

<section class="h-100">
    
    <div class="container h-100 py-2">

        <h3 class="fw-normal mb-0 text-black text-center">My Profile</h3>
    
     </div>

</section>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    {{ stripe_public_key|json_script:"id_stripe_public_key" }}
    {{ client_secret|json_script:"id_client_secret" }}
    <script src="{% static 'checkout/js/stripe_elements.js' %}" defer></script>
{% endblock %}
