{% load static %}

<!doctype html>
<html lang="en">

<head>
    {% block meta %}
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Cake making supplies shop with customer posts">
    <meta name="keywords" content="Simple cake design, Decorating cake ideas, Cake design ideas, Cake toppers ireland, personalised cake toppers, birthday cake design, wedding cake design">
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}

    {% block corecss %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="//cdn-images.mailchimp.com/embedcode/classic-071822.css" rel="stylesheet" type="text/css">    
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.png' %}">
    {% endblock%}

  

    {% block corejs %}
    <script src="https://kit.fontawesome.com/0037301c3f.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
    </script>
        <!-- Stripe -->
    <script src="https://js.stripe.com/v3/"></script>
     {% endblock %}
     <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
     <script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[3]='ADDRESS';ftypes[3]='address';fnames[4]='PHONE';ftypes[4]='phone';fnames[5]='BIRTHDAY';ftypes[5]='birthday';}(jQuery));var $mcj = jQuery.noConflict(true);</script>

     
    
     <title>McRocks Cake Supplies </title>
  </head>

  <body>
    

  <header class="container-fluid fixed-top pb-3 lightpink-bg">

        {% if messages %}
        <div class="message-container">
            {% for message in messages %}
                {% with message.level as level %}
                    {% if level == 40 %}
                        {% include 'includes/toasts/toast_error.html' %}
                    {% elif level == 30 %}
                        {% include 'includes/toasts/toast_warning.html' %}
                    {% elif level == 25 %}
                        {% include 'includes/toasts/toast_success.html' %}
                    {% else %}
                        {% include 'includes/toasts/toast_info.html' %}
                    {% endif %}
                {% endwith %}
            {% endfor %}
        </div>
        {% endif %}
        

    {% block page_header %}
    {% endblock %}


    <nav class="navbar navbar-expand navbar-dark navbar-search">
      <div class="d-flex flex-grow-1">
          
        <a class="navbar-brand" href="{% url 'home' %}"><strong>MCROCKS</strong></a>

          <div class="w-100 text-right">
              <button class="navbar-toggler " type="button" data-toggle="collapse">
                  <span class="navbar-toggler-icon navbar-dark brown-bg"></span>
              </button>
          </div>
      </div>
      <div class="collapse navbar-collapse flex-grow-1 text-right" id="myNavbar7">
          <ul class="navbar-nav ml-auto flex-nowrap">


            <li class="list-inline-item dropdown">
              <a class="text-black nav-link" href="#" id="user-options" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <div class="text-center">
                      <div><i class="fas fa-user fa-lg"></i></div>
                      <p class="my-0"></p>
                  </div>
              </a>
              <div class="dropdown-menu border-0 cream-bg" aria-labelledby="user-options">
                  {% if request.user.is_authenticated %}
                      {% if request.user.is_superuser %}
                          <a href="{% url 'management' %}" class="dropdown-item">Management</a>
                      {% endif %}
                      <a href="{% url 'profile' %}" class="dropdown-item">My Profile</a>
                      <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                  {% else %}
                      <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                      <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                  {% endif %}
              </div>
          </li>


          <li class="list-inline-item icon-pad">
            <a href="{% url 'view_cart' %}" class="fas fa-shopping-cart">
              <span class="num rounded-circle border border-2"> {% if grand_total %} {{ product_count }} {% else %} 0 {% endif %} </span></a>
            </li>

            <li class="list-inline-item icon-pad d-none d-md-block">
              <a href="{% url 'view_cart' %}">
                {% if grand_total %}
                              € {{ grand_total|floatformat:2 }}
                          {% else %}
                              € 0.00
                          {% endif %}
                </a>
              </li>

                                
                          
                        
         

         
          
          
            </ul>
      </div>
  </nav>

  

<!--Search and Categories-->

<nav class="navbar navbar-expand-lg navbar-dark navbar-survival101">
  <div class="container">
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor02">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            All Products
          </a>
          <div class="dropdown-menu cream-bg" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="{% url 'products' %}?category=sprinkle-decorations">Sprinkles</a>
            <a class="dropdown-item" href="{% url 'products' %}?category=cake-boards">Cake Boards</a>
            <a class="dropdown-item" href="{% url 'products' %}?category=cake-toppers">Toppers</a>
            <a class="dropdown-item" href="{% url 'products' %}?category=Bakeware">Bakeware</a>
            <a class="dropdown-item" href="{% url 'products' %}?category=Ocassions">Ocassions</a>
            <a class="dropdown-item" href="{% url 'products' %}?category=Tools">Tools</a>
            <a class="dropdown-item" href="{% url 'products' %}?category=Boxes">Boxes</a>
            <a class="dropdown-item" href="{% url 'products' %}?category=Icing">Icing</a>
            <a class="dropdown-item" href="{% url 'products' %}?category=food-colouring">Colourings</a>
            
          </div>
        </li>
        
        <li class="nav-item">
          <a class="nav-link" href="{% url 'products' %}">Shop</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'products' %}?status=1">Offers</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Showcase
          </a>
          <div class="dropdown-menu cream-bg" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="{% url 'cakes' %}">View Cakes</a>
            <a class="dropdown-item" href="{% url 'create_cake' %}">Post a Cake</a>
  
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'contact' %}">Contact</a>
        </li>

        
      </ul>
      <form class="form-inline" method="GET" action="{% url 'products' %}">
        <div class="input-group search-box">
          <input type="text" class="form-control cream-bg" name="q" placeholder="What are you looking for?" aria-label="Search for...">
          <span class="input-group-btn">
            <button class="btn btn-secondary tpink-bg" title="Search" type="submit"><i class="fas fa-search"></i></button>
          </span>
        </div>
      </form>
    </div>
  </div>
    
</nav>



  
  <!--End Search-->

  </header>







        
   
  
  





    <!--Content-->
    {% block content%}
    {% endblock %}


    

    {% include 'includes/footer.html' %}

    {% block postloadjs %}
    <script>
      $('.toast').toast('show');

    </script>

    

    {% endblock %}
  </body>
</html>
