{% extends "base.html" %} {% load static %} {% block title %}
<title>All Products</title>
{% endblock %}


{% block content %}


  <!--Main display for list of products -->
  <div class="container-fluid pt-5  justify-content-center">
  
    <div class="row cream-bg">
     

        <div class="col-xl-12 col-l-6 mt-3">
            <div class="row justify-content-around cream-bg">
                {% for product in products %}
            <div class="card m-3" style="width: 18rem;">
                {% if "placeholder" in product.product_image.url %}
                <img src="https://res.cloudinary.com/rockymiss/image/upload/v1669840754/mcgraths/Add_a_subheading_be2xr1.png"  alt="Sorry no image available">
                {% else %}
                <img src="{{ product.product_image.url }}"  alt="{{ product.product_name }}">
                {% endif %}
                <div class="card-body">
                  <a href="{% url 'product_detail' product.id %}" class="btn btn-primary grey-bg border border-dark rounded text-dark p-2">View Item</a>
                  <h5 class="card-title">{{ product.product_name }}</h5>
                  <p class="card-text">{{ product.product_price }}</p>
                  <p class="card-text">{{ product.description }}</p>
                 
                  {% if product.status == 1 %}
                  <p>This Product is on offer</p>
                  {% else %}
                  <p>This Product is NOT on offer</p>
                  {% endif %}     
                </div>
                
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
{% endblock %}