{% extends "includes/base.html" %} {% load static %} {% block title %}
<title>All Products</title>
{% endblock %}


{% block content %}


  <!--Main display for list of products -->

  <div class="container-fluid pt-5  justify-content-center cream-bg">

    <div class="row cream-bg">
    <div class="dropdown cream-bg text-center">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
        Sort by
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <li><a class="dropdown-item" href="{% url 'products' %}?sort=product_price&direction=desc">Price (high to low)</a></li>
        <li><a class="dropdown-item" href="{% url 'products' %}?sort=product_price&direction=asc">Price(low to high</a></li>
        <li><a class="dropdown-item" href="{% url 'products' %}?sort=category&direction=asc">Category</a></li>
        <li><a class="dropdown-item" href="{% url 'products' %}?sort=name&direction=asc">Name (A-Z)</a></li>
        <li><a class="dropdown-item" href="{% url 'products' %}?sort=name&direction=desc">Name (Z-A)</a></li>
      </ul>
    </div>

    <div class="col-12 col-md-6 order-md-first cream-bg m-auto">
      <p class="text.muted mt-3 text-center text-md-left cream-bg">
        
        {% if search_term or current_categories or current_sorting != 'None_None' %}
          <span class="small text-center cream-bg"><a href="{% url 'products' %}">Go back to all Products</a> | </span>
        {% endif %}
       {{ products|length }} Products{% if search_term %} found {% endif %}
        
      </p>

    </div>
   
        <div class="col-xl-12 col-l-6 mt-3 ">
            <div class="row justify-content-around cream-bg ">
                {% for product in products %}
            <div class="card m-3 cream-bg border-0" style="width: 18rem;">
                {% if "placeholder" in product.product_image.url %}
                <img src="https://res.cloudinary.com/rockymiss/image/upload/v1670527269/mcgraths/no-image-available1_r6peww.jpg"  alt="Sorry no image available">
                {% else %}
                <img src="{{ product.product_image.url }}"  alt="{{ product.product_name }}">
                {% endif %}
                <div class="card-body cream-bg">
                  <a href="{% url 'product_detail' product.id %}" class="btn btn-primary grey-bg border border-dark rounded text-dark p-2">View Item</a>
                  <h5 class="card-title cream-bg">{{ product.product_name }}</h5>
                  <p class="card-text cream-bg">{{ product.product_price }}</p>
                  <p class="card-text cream-bg">{{ product.description }}</p>
                  {% if product.category %}
                  <p class="card-text small mt-1 cream-bg">
                  <a class="text-muted cream-bg" href="{% url 'products' %}?category={{ product.category.name }}">
                    {{ product.category.cat_friendly_name }}</p></a>
                  {% endif %}

                 
                  {% if product.status == 1 %}
                  <p class="cream-bg">This Product is on offer</p>
                  {% else %}
                  <p class="cream-bg">This Product is NOT on offer</p>
                  {% endif %}     
                </div>
                
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
{% endblock %}