{% extends "includes/base.html" %} 
{% load static %} {% block title %}
<title>Product</title>

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}
{% endblock %}


{% block content %}


  <!--Main display for product detail-->
    
    <div class="super_container">
   
    
          <div class="container-fluid p-3">
              <div class="row">
                  <div class="col-lg-4 order-lg-2 order-1">
                    {% if "placeholder" in product.product_image.url %}
                        <img class="img-fluid" src="https://res.cloudinary.com/rockymiss/image/upload/v1669840754/mcgraths/Add_a_subheading_be2xr1.png"  alt="Sorry no image available">
                    {% else %}
                        <img class="img-fluid" src="{{ product.product_image.url }}"  alt="{{ product.product_name }}">
                    {% endif %}
                  </div>
                  <div class="col-lg-6 order-3">
                    <div class="product_description">
                        
                        <div class="product_name">
                            <p>{{ product.product_name }}</p>
                            <p>{{ product.description }}</p>
                            {% if product.status == 1 %}
                                <p><small><small>This Product is on offer</small></small></p>
                            {% endif %}     
                        </div>
                        <div> <span class="product_price">€ {{ product.product_price }}</span> </div>
                        
                        <div>
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="br-dashed">
                                        <div class="row">
                                            <div class="col-md-3 col-xs-3"> <i class="fa-solid fa-truck"></i> </div>
                                            <div class="col-md-9 col-xs-9">
                                                <div class="pr-info"> <span class="shipping">Get free shipping when you spend over €50</span> </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-7"> </div>
                            </div>
                           
                        </div>
                        <hr class="singleline">


                        <div class="form order_info d-flex flex-row">

                            <!--NEW FORM-->
                            <form class="form" action="{% url 'add_to_cart' product.id %}" method="POST">
                                {% csrf_token %}
                                <div class="form-row">
                                    <div class="col-12">
                                        {% with product.has_colours as col %}
                                        {% if col %}
                                        <div class="col-12">
                                            <p><strong>Colour: </strong></p>
                                            <select class="form-control rounded-0 w-50" name="product_colour" id="id_product_colour">
                                                <option value ="silver">Silver</option>
                                                <option value ="blue">Blue</option>
                                                <option value ="red">Red</option>
                                                <option value ="green">Green</option>
                                                <option value ="orange">Orange</option>
                                                <option value ="black">Black</option>
                                                <option value ="white">White</option>
                                                <option value ="yellow">Yellow</option>
                                                <option value ="pink">Pink</option>
                                            </select>
                                        </div>
                                        {% endif %}
                                        
                                        <p class="mt-3"><strong>Quantity:</strong></p>
                                        <div class="form-group w-50">
                                            <div class="input-group input-group-{{ product.id }}">
                                              <div class="input-group-prepend">
                                                <button class="decrement-qty btn btn-black rounded-0 decrement-qty_{{ product.id }}"  
                                                    data-item_id="{{ product.id }}">
                                                        <span class="icon">
                                                             <i class="fas fa-minus"></i>
                                                        </span>
                                                </button>
                                              </div>
                                                    
                                               
                                                <input class="form-control qty_input id_qty_{{ product.id }}" type="number"
                                                name="quantity" value="1" min="1" max="99"
                                                data-item_id="{{ product.id }}">

                                                    <div class="input-group-append">
                                                        <button class="increment-qty btn btn-black rounded-0 increment-qty_{{ product.id }}"
                                                        data-item_id="{{ product.id }}">
                                                        <span class="icon">
                                                            <i class="fas fa-plus"></i>
                                                        </span>
                                                        </button>
                                                
                                                    </div>
                                              
                                            </div>
                                        </div>
                                    </div>
            
                                    <div class="col-12">
                                        <a href="{% url 'products' %}" class="btn btn-outline-black rounded-0 mt-5" aria-label="products">
                                            <span class="icon">
                                                <i class="fas fa-chevron-left"></i>
                                            </span>
                                            <span class="text-uppercase">Keep Shopping</span>
                                        </a>
                                        <input type="submit" class="btn btn-black rounded-0 text-uppercase mt-5" value="Add to cart"
                                            aria-label="add product to cart">
                                    </div>
                                    <input type="hidden" name="redirect_url" value="{{ request.path }}">
                                    {% endwith %}
                                </div>
                            </form>

                        </div> 
                    </div>
                </div>
            </div>
        </div>

                 
         
      
{% endblock %}

{% block postloadjs %}
{{ block.super }}

{% include 'products/includes/quantity_input_script.html' %}
{% endblock %}